---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div>
		<h1>Work in process!</h1>
	</div>
</Layout>

<style>
	:root {
    --step-0: clamp(1.125rem, 1.0394rem + 0.4149vi, 1.5rem);
    --step-4: clamp(2.3328rem, 1.4967rem + 4.0537vi, 5rem);
	}
	div {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: start;
		flex-direction: column;

		max-width: 80ch;
		margin: 0 auto;
	}
	h1 {
		font-size: var(--step-4);
		line-height: 1.1;
	}
</style>
